<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="InetBankingV1">
	<listeners>
		<listener class-name="com.iNetBanking.Utils.Reporting" />
	</listeners>
	<test name="BankingAppTest">
		<parameter name="browser" value="CHROME" />
		<classes>
			<class name="com.iNetBanking.TestCases.TC_LoginTest_001" />
			<class name="com.iNetBanking.TestCases.TC_AddCustomerTest_002" />
		</classes>
	</test>
</suite>